html, body {
    height: 100%;
}

hr {
    width: 80%;
    padding-left: 10%;
}

.content {
    /* background-color: yellow; */
    height: calc(100% - 56px);
    height: -o-calc(100% - 56px);
    /* opera */
    height: -webkit-calc(100% - 56px);
    /* google, safari */
    height: -moz-calc(100% - 56px);
    /* firefox */
}

#sidebar {
    z-index: 10;
    background-color: #fff;
    padding-right: 0;
    padding-top: 15px;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#editor {
    /* background-color: green; */
}

#modes,
#modes ul,
#modes ul li,
#modes ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#modes ul {
    position: relative;
    z-index: 597;
    float: left;
}

#modes ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
}

#modes ul li.hover,
#modes ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}

#modes ul ul {
    margin-top: 1px;
    visibility: hidden;
    position: absolute;
    top: 1px;
    left: 99%;
    z-index: 598;
    width: 100%;
}

#modes ul ul li {
    float: none;
}

#modes ul ul ul {
    top: 1px;
    left: 99%;
}

#modes ul li:hover>ul {
    visibility: visible;
}

#modes ul li {
    float: none;
}

#modes ul ul li {
    font-weight: normal;
}

/* Custom CSS Styles */
#modes {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

#modes ul a,
#modes ul a:link,
#modes ul a:visited {
    display: block;
    color: #848889;
    text-decoration: none;
    font-weight: 300;
}

#modes>ul {
    float: none;
}

#modes ul {
    background: #fff;
}

#modes>ul>li {
    border-left: 3px solid #d7d8da;
}

#modes>ul>li>a {
    padding: 10px 20px;
}

#modes>ul>li:hover {
    border-left: 3px solid #3dbd99;
}

#modes ul li:hover>a {
    color: #3dbd99;
}

#modes>ul>li:hover {
    background: #f6f6f6;
}

/* Sub Menu */
/* #modes ul ul a:link,
#modes ul ul a:visited {
  font-weight: 400;
  font-size: 14px;
}
#modes ul ul {
  width: 180px;
  background: none;
  border-left: 20px solid transparent;
}
#modes ul ul a {
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee;
}
#modes ul ul li {
  padding: 0 20px;
  background: #fff;
}
#modes ul ul li:last-child {
  border-bottom: 3px solid #d7d8da;
  padding-bottom: 10px;
}
#modes ul ul li:first-child {
  padding-top: 10px;
}
#modes ul ul li:last-child > a {
  border-bottom: none;
}
#modes ul ul li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
} */
